* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-size: cover;
    /* Ensures the image covers the entire viewport */
    background-image: url('loginbg.jpg');
    /* Adjust path to image */
    background-repeat: no-repeat;
    /* Prevents repeating the image */
    background-position: center center;
    /* Centers the image */
    margin: 0;
    /* Removes any default margins */
    height: 100vh;
    /* Ensures the background covers the entire page height */

}

/* Login Section */
.login-section {
    display: flex;
    margin-left: 150px;
    align-items: center;
    height: 100vh;
    /* background-color: #f4f4f4;                             */
}

.login-container {
    background-color: transparant;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);

    width: 400px;

}

.login-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white
}

.login-container label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 16px;
    color: white;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-container button {
    width: 100%;
    padding: 12px;
    background-color: white;
    color: gray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.login-container button:hover {
    background-color: #FFE893;
}

.signup-link p {
    font-size: 14px;
    margin-top: 20px;
}

.signup-link a {
    text-decoration: none;
    color: white;
}